{
    "version": 6,
    "configurePresets": [
        {
            "name": "windows-mingw-debug",
            "inherits": "windows-mingw-debug",
            "cacheVariables": {
                "CMAKE_PREFIX_PATH": "E:/Qt/6.8.3/mingw_64",
                "CMAKE_CXX_COMPILER": "E:/Qt/Tools/mingw1310_64/bin/g++.exe",
                "CMAKE_C_COMPILER": "E:/Qt/Tools/mingw1310_64/bin/gcc.exe",
                "CMAKE_MAKE_PROGRAM": "E:/Qt/Tools/Ninja/ninja.exe",
                "CMAKE_TOOLCHAIN_FILE": "C:/vcpkgCache/vcpkg/scripts/buildsystems/vcpkg.cmake",
                "VCPKG_TARGET_TRIPLET": "x64-mingw-dynamic"
            }
        },
        {
            "name": "windows-mingw-release",
            "inherits": "windows-mingw-release",
            "cacheVariables": {
                "CMAKE_PREFIX_PATH": "E:/Qt/6.8.3/mingw_64",
                "CMAKE_CXX_COMPILER": "E:/Qt/Tools/mingw1310_64/bin/g++.exe",
                "CMAKE_C_COMPILER": "E:/Qt/Tools/mingw1310_64/bin/gcc.exe",
                "CMAKE_MAKE_PROGRAM": "E:/Qt/Tools/Ninja/ninja.exe",
                "CMAKE_TOOLCHAIN_FILE": "C:/vcpkgCache/vcpkg/scripts/buildsystems/vcpkg.cmake",
                "VCPKG_TARGET_TRIPLET": "x64-mingw-dynamic"
            }
        }
    ]
}
